[submodule "ats-login"]
	path = ats-login
	url = https://github.com/Anirudh-WB/ATS-Login
[submodule "ats-post"]
	path = ats-post
	url = https://github.com/Nimesh-WB/ats-post
[submodule "ats-feed"]
	path = ats-feed
	url = https://github.com/Nimesh-WB/ats-feed
